@charset "utf-8";
/* CSS Document */
#title
{
	position:absolute;
	
	left:100px;
	top:50px;
}
#logo
{
	position:absolute;
	
	left:700px;
	top:50px;
}
#forum
{
background-image:url(24bit/forum.png);
display:block;
height:50px;
width:150px;
}
#forum:hover
{background-position:0 -50px;}
#left
{
	position:absolute;
	left:130px;
	top:225px;
	border:thin;
	border-color:#FFF;
	padding:5px;
}
#logout
{
background-image:url(24bit/logout.png);
display:block;
height:50px;
width:200px;
}
#logout:hover
{background-position:0 -50px;}
#team
{
background-image:url(24bit/team.png);
display:block;
height:50px;
width:200px;
}
#team:hover
{background-position:0 -50px;}
#instructions
{
background-image:url(24bit/instructions.png);
display:block;
height:50px;
width:200px;
}
#instructions:hover
{background-position:0 -50px;}
#leaderboard1
{
background-image:url(24bit/leader-board.png);
display:block;
height:50px;
width:200px;
}
#leaderboard1:hover
{background-position:0 -50px;}
#main
{	
	height:400px;
	width:650px;
	position:absolute;
	left:350px;
	top:200px;
}


#leaderboard
{
	position:absolute;
	top:180px;
	right:130px;	
}
#facebook
{
	
	bottom:80px;
	left:100px;
}
#fb
{
	position:absolute;
	bottom:50px;
	left:50px;
	width:100px;
	height:50px;
	color:#fff;
	font-size:18px;
	font-variant:small-caps;
}
